---
import Layout from "../layouts/Layout.astro"
---

<Layout>
<div class="four04">

    <img src={'/404.png'} alt="white-space" id="whitespace404" draggable="false" width="200px" height="200px"/>
    <p id="sub">We've never heard of this page</p>

</div>
</Layout>

<style>
        .four04 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
     body {
        background-image: url('/backround.png');
        overflow: hidden;
         background-size: cover;
		background-size: 50%;
    }

    #four04 {
        font-size: 200px;
        text-align: center;
        margin-top: 175px;
    }

    #areyoulostbud {
        font-size: 30px;
        text-align: center;
        margin-top: -150px;
        font-family: 'Courier New', Courier, monospace;
    }

    #sub {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;         
        font-family: 'Courier New', Courier, monospace;

    }


    
    #whitespace404 {
            width: 300px;
            height: 300px;
            margin: 20px auto 0 auto;
            display: block;
            border-radius: 15px;
    }
  
</style>