---
---


<div class="four04">
    {/* DON'T CHANGE */}
    <h1 id="four04">404</h1>

    <h1 id="areyoulostbud">Are you lost?</h1>
    <p id="sub">We've never heard of this page</p>

    <img src={'/whitespace.png'} alt="white-space" id="whitespace404" draggable="false">
</div>

<style>
     body {
        background-image: url('/backround.png');
        overflow: hidden;
         background-size: cover;
		background-size: 50%;
    }

    #four04 {
        font-size: 200px;
        text-align: center;
        margin-top: 175px;
    }

    #areyoulostbud {
        font-size: 30px;
        text-align: center;
        margin-top: -150px;
        font-family: 'Courier New', Courier, monospace;
    }

    #sub {
        font-size: 20px;
        text-align: center;
        margin-top: 1px;           		font-family: 'Courier New', Courier, monospace;

    }


    
    #whitespace404 {
        width: 100px;
        height: 100px;
        margin: 20px auto 0 auto;
        display: block;
    }
  
</style>